setuptools==56.0.0
wheel==0.37.1
numpy==1.23.3
pandas==1.5.0
ipython==8.5.0
jupyterlab==3.4.7
Pillow==9.2.0
opencv-contrib-python==4.6.0.66
pytesseract==0.3.10
pathlib==1.0.1
pyenchant==3.2.2
gensim==4.2.0
top2vec==1.0.27
nltk==3.7
spacy==3.4.1