argon2-cffi
argon2-cffi-bindings
asttokens
atomicwrites==1.4.0
attrs
backcall
beautifulsoup4
bleach
blis
brotlipy==0.7.0
catalogue
certifi
cffi
chardet
click
colorama
contextlib2
cryptography
cycler
cymem
decorator
defusedxml
entrypoints
execnet
executing
fastjsonschema
filelock==3.0.12
Flask==1.1.2
gensim
idna
importlib-resources
iniconfig
install==1.3.4
ipykernel
ipynb==0.5.1
ipython
ipython-genutils
itsdangerous==1.1.0
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
kiwisolver
libsvm==3.23.0.4
MarkupSafe
matplotlib
matplotlib-inline
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mock
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
nltk==3.6.2
notebook
numpy
octis==1.1.1
olefile
opencv-python==4.5.2.52
packaging
pandas
pandocfilters
parso
path
pathlib==1.0.1
pathy
pickleshare
Pillow
pluggy
preshed
prometheus-client
prompt-toolkit
pure-eval
py
pyaml==20.4.0
pycparser
pydantic
pyenchant==3.2.0
Pygments
PyInputPlus==0.2.12
pyLDAvis==2.1.2
pyOpenSSL
pyparsing
pyrsistent
PySimpleValidate==0.2.12
PySocks
pytesseract
pytest==7.1.2
pytest-shutil==1.7.0
python-dateutil
pytz
pywin32==302
pywinpty
PyYAML==5.4.1
pyzmq
regex
requests
sacremoses==0.0.45
scikit-learn==0.24.1
scikit-optimize==0.8.1
scipy
seaborn
Send2Trash
sentence-transformers==1.0.4
sentencepiece==0.1.95
shellingham
sip==4.19.13
six
smart-open
soupsieve
spacy
spacy-legacy
srsly
stack-data
stdiomask==0.0.6
termcolor==1.1.0
terminado
tesseract==0.1.3
testpath
thinc
threadpoolctl==2.1.0
tokenizers==0.10.2
tomli
torch==1.8.1
tornado
tqdm
traitlets
transformers==4.5.1
typer
typing_extensions
urllib3
wasabi
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
win-inet-pton
wincertstore==0.2
xlrd==1.2.0
zipp